<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <STYLE>
        H1{
            text-align: center;
            background-color: #b2e4e6;
        }
        body{
            background-color: #3fbbc0;
            
        }
    </STYLE>
</head>
<body>
<div class="container">
    <h1>MESSAGES RECEIVED</h1>
{% for message in messages %}
    NAME:{{ message.name }}<br><br>
    EMAIL:{{ message.email }}<br><br>
    SUBJECT:{{ message.subject }}<br><br>
    MESSAGE:{{ message.message }}<br><br>
    <hr>
{% endfor%}
    
</div>

</body>
</html>